@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f1f5f9;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  overflow: hidden; /* Kaydırma çubuklarını gizle */
}